<swiper-container class="swiper-principal" init="false">
    <swiper-slide>
        <img src="https://cdn11.bigcommerce.com/s-6334b/images/stencil/original/carousel/205/mailtradeslide.png?c=2" alt="">
    </swiper-slide>
    <swiper-slide>
        <img src="https://cdn11.bigcommerce.com/s-6334b/images/stencil/original/carousel/214/IMG_0489.png?c=2" alt="">
    </swiper-slide>
    <swiper-slide>
        <img src="https://cdn11.bigcommerce.com/s-6334b/images/stencil/original/carousel/180/pokemonblindboxbannerfinal1.jpg?c=2" alt="">
    </swiper-slide>
    </swiper-container>
    <main>
        <h4>VIDEOJUEGOS RECIENTES</h4>
    <hr>
    <swiper-container class="swiper-videojuegos" init="false" >
        @for(videojuego of videojuegos; track videojuego.ID_VIDEOJUEGO){
            <swiper-slide  [routerLink]="['/videojuego',videojuego.ID_VIDEOJUEGO_PLATAFORMA]" >
                <div class="card">
                    <div class="header">
                        <img src={{videojuego.IMAGEN[0]}} alt="" loading="lazy">

                    </div>
                    <div class="content">
                        
                        <p class="bold">{{videojuego.TITULO}}</p>
                        <div >
                            <p class="bold">Costo:</p>
                            <p> {{videojuego.PRECIO}}$</p>
                        </div>
                        <div >
                            <p class="bold">Consola:</p>
                            <p> {{videojuego.NOMBRE_PLATAFORMA}}</p>
                        </div>
                    </div>
                </div>
            </swiper-slide>
        }
      </swiper-container>

    </main>

    