
/*Estilos generales*/
.container{
    display: grid;
    grid-template-columns: 40% 1fr;
    gap: 30px;
    margin:  auto 70px;
 }

 .detalles>*{
   margin-top: 0px;
   margin-bottom: 15px;
 }

 .bold{
    font-weight: bold;
    margin-right: 5px;
 }

 .in-line{
    display: inline-block;
 }

 .galeria{
   border: 1px solid red;
}

.detalles{
    border: 1px solid blue;
}

/*Estilos para lograr el efecto de zoom*/

#imageZoom img:hover{
    cursor: zoom-in;
}

#imageZoom::after{
    display: var(--display);
    content: '';
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: var(--url);
    background-size:200%;
    background-position: var(--zoom-x) var(--zoom-y);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
/*Estilos para los swiper*/

swiper-container{
    height: auto;
    width: 100%;
}



swiper-slide{
    height: auto;
    width: 100%;
   
}

swiper-slide img{
    height:100%;
    width: 100%;
}



/*Responsive*/
@media(width<=768px){
    .container{
        margin:  auto 15px;

    }
    .galeria{
        grid-column: 1/-1;
    }
    .detalles{
        grid-column: 1/-1;
    }
}