
/*Estilos generales*/
.swiper-principal img{
    max-height: 650px;

}

.container{
    display: grid;
    grid-template-columns: 60% 1fr;
    gap: 30px;
    margin:  auto 20px;
 }

 .detalles>*{
   margin-top: 0px;
   margin-bottom: 15px;
 }

 .bold{
    font-weight: bold;
    margin-right: 5px;
 }

 .in-line{
    display: inline-block;
 }

 .galeria{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), /* Sombra suave */
    0 6px 20px rgba(0, 0, 0, 0.1);

}




/*Estilos para lograr el efecto de zoom*/

#imageZoom img:hover{
    cursor: zoom-in;
}

#imageZoom::after{
    display: var(--display);
    content: '';
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: var(--url);
    background-size:200%;
    background-position: var(--zoom-x) var(--zoom-y);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
/*Estilos para los swiper*/

swiper-container{

    height: auto;
    width: 100%;
}



swiper-slide{
    height: auto;
    width: 100%;
   
}

swiper-slide img{
    height:100%;
    width: 100%;

}

.swiper-miniatura img{
    object-fit: cover;
}



/*Responsive*/
@media(width<=768px){
    .container{
        margin:  auto 15px;

    }
    .galeria{
        grid-column: 1/-1;
    }
    .detalles{
        grid-column: 1/-1;
    }
}