<aside class="sidebar">
    <div class="header">
      <div class="company-name">GAME START</div>
      <div class="logo-container">
        <i class="fas fa-gamepad logo-icon"></i>
      </div>
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/dashboard">
            <i class="fas fa-home"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li>
          <a routerLink="empleados">
            <i class="fas fa-user"></i>
            <span>Empleados</span>
          </a>
        </li>
        <li>
          <a routerLink="pedidos">
            <i class="fas fa-shopping-cart"></i>
            <span>Pedidos</span>
          </a>
        </li>
        <li>
          <a routerLink="video">
            <i class="fas fa-gamepad"></i>
            <span>Video Juegos</span>
          </a>
        </li>
        <li class="logout">
          <a href="#">
            <i class="fas fa-sign-out-alt"></i>
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>
  