<footer>
    <div class="container">
        <div class="elemento nosotros">
            <h5>Nosotros</h5>
            <hr>
            <p>
                GameStart es tu destino número uno para los últimos lanzamientos, clásicos atemporales y todo lo relacionado con el mundo de los videojuegos. ¡Descubre, juega y vive la experiencia gamer con nosotros!
            </p>   
        </div>

        <div class="elemento contacto">
            <h5>Contacto</h5>
            <hr>
            <p>
                <i class="fas fa-university"></i> Av. Panamericana Km. 5 1/2 Vía a Pasaje
            </p>
            <p>
                <i class="fas fa-phone"></i> 07 298 3362 - 07 298 3365
            </p>
            <p>
                <i class="fas fa-envelope"></i> info"&#64;"gamestart.com
            </p>
        </div>
        
        <div class="elemento copyright">
            <hr>
            <p>
                © 2024 GameStart. Todos los derechos reservados.
            </p>
            <div class="redes">
                <ul class="list-inline-item">
                    <li class="list-inline-item me-4">
                        <a href="https://www.facebook.com/gamestart"><i class="fab fa-facebook"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="https://twitter.com/gamestart"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="https://www.youtube.com/gamestart"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="franja"></div>
</footer>
